<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <h1><%=pokemons.name%></h1>
    <img src="<%=pokemons.img%>">
    <div>Pokédex Number: <%=pokemons.id%></div>
    <div class="type1"><%=pokemons.type[0]%></div>
    <div class="typ2"><%=pokemons.type[1]%></div>
    <a href="/pokedex/<%= index %>/edit"><button>Edit Pokémon</button></a>
    <a href='/pokedex'><button>Return to Pokédex</button></a>
</body>
</html>